@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter");
* {
  font-family: "Inter", sans-serif !important;
}

@layer components {
  .click-action {
    @apply active:scale-95 transition-transform;
  }
}
.tooltip-text {
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.with-tooltip:hover .tooltip-text {
  visibility: visible;

  opacity: 1;
}

.input-number {
  width: 80px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
  border: 1px solid #ccc;
  height: 40px;
  user-select: none;
}

.input-number-decrement,
.input-number-increment {
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background: #f1f1f1;
  color: #444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.input-number-decrement:active,
.input-number-increment:active {
  background: #ddd;
}

.input-number-decrement {
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.input-number-increment {
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.fullscreen {
  position: fixed; /* Fixed position */
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  object-fit: contain; /* Preserve aspect ratio */
  background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
  z-index: 1000; /* Ensure it's above other content */
}
